@model FinScope.Models.SavingGoal

@{
    ViewData["Title"] = "Edit Saving Goal";
}

<h2>Edit Saving Goal</h2>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TargetAmount"></label>
        <input asp-for="TargetAmount" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="TargetAmount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CurrentAmount"></label>
        <input asp-for="CurrentAmount" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="CurrentAmount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Deadline"></label>
        <input asp-for="Deadline" class="form-control" type="date" />
        <span asp-validation-for="Deadline" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Save Changes</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
